//- Jade (Pug) file - strict indentation to be followed	
//- Blocks - partial views - like inheriting views
//- Blocks are not mandatory

doctype html

html
	head
		title This is using Jade as view engine !
	body
		h1 View Created using Jade (Pug) !
		block content
		
		footer @Copyright 2017	